.fl{float: left;}
nav{
	height: 45px;
    min-width: 1200px;
    background: #ff6a00;
}
nav .container{
	width: 1200px;
	margin: 0 auto;
}
nav .categorys,.nav{
	float: left;
}
nav .categorys{	
	width: 243px; 
}
nav .categorys .head{
    height: 43px;
    line-height: 43px;
    font-size: 21px;
    color: #fff;
    margin-left: 0px;
    text-indent: .8em;
}

nav .categorys .body{
    display: none;
	position: absolute;
    width: 220px;
    border: 1px solid #ff6a00;
    background: #fff;
}
nav .categorys .list{
    padding: 14px 0 6.5px 17px;
}
nav .categorys .list:first-child{
	padding-top: 12px;
}
nav .categorys .list-title,nav .categorys .list:last-child li a{
	color: #fff;
	font-weight: bold;
}
nav .categorys .list ul{
	margin-left: -4px;
}
nav .categorys .list li{
    padding: 7px 12px 0 5px;
    font-size: 13px;
}
nav hr{
	width: 93%;
    margin-left: 6px;
    margin-top: 7px;
}
nav .categorys .list:last-child li{
	padding-right: 21px;
    font-size: 16px;
}

nav .nav{
	padding: 11px;
	padding-left: 26px;
}
nav .nav ul{
	margin-left: -44px;
}
nav .nav li{
	padding-left: 45px;
}
nav .nav li a{
	font-weight: bold;
	color: #fff;
}
nav .nav li a:hover{
	text-decoration: none;
	color: #fff!important;
}

.container{
	width: 1200px;
	margin: 0 auto;
}
.container:before,.container:after{
	content: '';
	display: block;
	clear: both;
}
.container .detail>p{
	font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .detail .detail-content{
	overflow: hidden;
	border: 1px solid #ccc;
}
.container .detail-content .left-content,.container .detail .detail-content .right-content{
    float: left;
}
.container .detail-content .left-content{
	width: 430px;
	padding: 20px 56px;
}
.container .detail-content .left-content .btn-outer{
    position: relative;
    width: 112%;
    overflow: hidden;
    margin-left: -31px;
    font-size: 26px;
    top: -210px;	
}
.container .left-content .btn-outer .btn1{
	float: left;
}
.container .left-content .btn-outer .btn2{
	float: right;
}
.container .left-content .btn-outer .btn{
    width: 40px;
	height: 40px;	
	line-height: 40px;
	cursor: pointer;
	color: gainsboro;
	text-align: center;
}
.container .left-content .btn-outer .btn:hover{
	background-color: rgba(0,0,0,.5);
}
.container .list-detail{
	
}
.container .list-detail ul{
	
}
.container .list-detail li{
	width: 69px;
	height: 69px;
	border: 2px solid #ccc;
	margin-left: 30px;
	cursor: pointer;
}
.container .list-detail li:hover{
	border: 2px solid red;
}
.container .list-detail li img{
	padding: 0;
    width: 100%;
    height: 100%;
}   
.container .detail .detail-content .right-content{
	width: 592px;
    padding: 30px;
}
.container .detail .right-content strong{
	 font-size: 17px;
}   
.container .detail .right-content .item-sign{
	color: orangered;
	margin: 13px 0 28px 0;
	font-size: 16px;    
}
.container .detail .right-content .item-description{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 25px 0px;
	font-size: 13px;
	margin-bottom: 10px;
}
dl{overflow: hidden;margin-bottom: 28px;}
dt{float: left;}
dd{margin-left: 70px;}
dl:last-child{margin-bottom: 13px;}
.container .detail .right-content .store{
	font-size: 15px;
	text-decoration: line-through;
}
.container .detail .right-content .this-store{
	margin-top: 4px;
}
.appzx{
	background: #f7f7f7;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
    margin-top: 15px;
}
.cl-ored{color: orangered;}
.appzx  li:first-child{padding-left: 0;}
.appzx  li{padding-left: 44px;}
.appzx  li:first-child img{
	position: relative;
    top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}
.shop-btn{
	padding: 12px 41px;
	background: orangered;
}
.appzx-shop {
	margin-top: 24px;
}
.appzx-shop .shop-btn{
	color: #FFFFFF;
}
.appzx-shop .shop-btn:hover{
	text-decoration: none;
    color: #fff!important;
}
.appzx-shop .iconfont{
	font-size: 29px;
	 position: relative;
    top: 4px;
}
.appzx-shop .heart{
	color: orangered;
	font-size: 14px;
	margin-left: 32px;
}
.appzx-shop .heart:hover{
	text-decoration: none;
}
.share{
	margin-top: 68px;
	border: 1px solid red;
	height: 40px;
}
.content{
	width: 1200px;
	margin: 40px auto;
}
.content .left-list{
  float: left;
  width: 211px;
}
.content .left-list .navigation-one{
   border: 1px solid #000;
}
.content .left-list .navigation-one .item{	
	padding: 8px 0px;
    overflow: hidden;
    padding-left: 4px;
}
.content .navigation-two{
	border: 1px solid red;
	margin: 20px 0;
	text-align: center;
}
.content .title-p{
	text-align: center;
    background: #ffe8d9;
    font-size: 14px;
    padding: 9px 0;
    color: #737373;
}
.content .navigation-two img{
	width: 180px;
    height: 196px;
}
.content .navigation-two .item p{
	text-align: left;
    background: #fff;
    font-size: 12px;
    padding: 6px 0;
    color: #737373;
}
.content .navigation-two .item  .item-title{	
    padding-left: 11px;
}
.content .navigation-two .item p:last-child{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: orangered;
}
.right-list .wrapper{
	width: 962px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    left: 25px;
}
.wrapper ul{
	border-bottom: 1px solid #000;
}
.wrapper li{
	padding: 2px 21px;
    line-height: 30px;
    font-size: 17px;
    border: 1px solid #ccc;
}
.wrapper  .active-item{
	border: 0;
	border-top: 1px solid #000;	
	border-right: 1px solid #ccc;
}
.wrapper .one-content{
	padding: 10px 93px;
}   
.wrapper .two-content p:first-child,.wrapper .two-content p:last-child{
	text-align: left;
	font-size: 14px;
	margin: 11px 0;
} 

.wrapper .two-content .first-p,.wrapper .two-content .last-p{text-align: center!important;}
.wrapper .comment-item{
	overflow: hidden;
	padding: 10px;
    padding-bottom: 11px;
    border-bottom: 1px dashed #ccc;
}
.wrapper .two-content .first-comment ,.second-comment{
	float: left;
}
.wrapper .two-content .first-comment{
	width: 209px;
	font-size: 13px;
}
.wrapper .comment-item .first-comment a{
    display: block;
    width: 68px;
}
.wrapper .comment-item .first-comment a img{
	width: 100%;
	height: 100%;
}
.wrapper .two-content .second-comment{
	height: 110px;
	overflow: hidden;
	font-size: 13px;
}
.wrapper .two-content .second-comment p:first-child{
	float: left;
}
.wrapper .two-content .second-comment .inline-p{
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 14px;
}
.time-span{
	    display: inline-block;
    margin-left: 306px;
}
.wrapper .comment-item hr{
    width: 100%;
    margin-bottom: 13px;
}
.wrapper .three-content {
    padding: 20px;
}
.wrapper .three-content>p:first-child{
	font-size: 13px;
    line-height: 1.8;
    padding: 15px;
    background-color: #efeff4;
}
.wrapper .three-content ul{
	border: 0;
}
.wrapper .three-content li{
	font-size: 13px;
	width: 140px;
    border: 0;
    margin-top: 12px;
}    
.wrapper .three-content li>p{
	white-space: nowrap;
}
.wrapper .three-content>p:last-child,.wrapper-four>.last-p{
	background: #efeff4;
	font-size: 13px;
    line-height: 1.8;
    padding: 8px;
    text-align: center;
    margin-bottom: 30px;   
}
.wrapper .dashed-i{
	display: inline-block;
	width: 96%;
	border: 1px dashed #ccc;
	margin: 0 20px 30px 0px;
	text-align: center;
}
.wrapper .four-content{
	    padding: 25px 23px;
}
.wrapper .four-content li{
	overflow: hidden;
}
.wrapper .four-content li .ple-one,.wrapper .four-content li .ple-content{
	float: left;
}
.wrapper .four-content ul{
	border: 0;
}
.wrapper .four-content li {
	line-height: 19px;
	width: 45%;
	border: 0;
	margin-bottom: 6px;
}
.wrapper .four-content li .ple-one{
    font-size: 13px;
}
.wrapper .four-content li img{
	display: inline-block;
	float: left;
	width: 60px;
    height: 60px;
}
.time-a{
	display: inline-block;
    margin-left: 162px;
    color: #ddd;
}
.time-a:hover{
	color: #ddd;
	text-decoration: none;
}
.a-content{
	display: block;
    margin-top: 6px;
    font-size: 12px;
}
.wrapper .five-content{
	padding: 10px 93px;
}
.wrapper .five-content ul{
	border: 0;
}
.wrapper .five-content li{
	width: 92px;
	font-size: 14px;
	padding: 3px 18px;
	text-align: center;
	border: 0;
	margin: 10px 0 12px 0;
}
.wrapper .five-content li:hover{
	color: orangered;
}
.wrapper .five-content li .iconfont{
	font-size: 30px;
}
.footer-nav{
            width: 1200px;
           margin: 34px auto;
            text-align: center;
        }
        .footer-nav a{
            padding-left: 17px;
            padding-right: 16px;
        }
               footer{
            min-width: 1200px;
        }
        .auth{
            width: 1200px;
            margin: 0 auto;text-align: center;
        }