*{
	padding: 0;
	margin: 0;
}
input{
	outline: none;
}
input:focus{
	border: 0;
}
a{text-decoration: none;color: #000;}
a:hover{text-decoration: underline;color: #ff6a00!important;}
ul,ol{overflow: hidden;}
li{float: left;list-style: none;}
header{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid red;
	height: 113px;
}
header .logo,.search,.service{
	float: left;
	overflow: hidden;
}
header .logo>.img,.logo-i,.logo-description,.search{
	display: inline-block;
}
header .logo{
	width: 490px;
	margin-top: 24px;
}
header .logo-i{
	border-left: 1px solid #ccc;
	height: 40px;
	position: relative;
    top: -11px;
    left: 17px;
    margin-right: 32px;
}
header .logo-description{
	position: relative;
    top: -13px;
    color: orange;
}
header .logo-description p:first-child{
	letter-spacing: 5.2px;
}
header .logo-description p:last-child{
	text-align: center;
    margin-top: 4px;
}
header .search{
     width: 316px;
     margin-top: 36px;  
}
header .search-input{
	width: 236px;
    height: 36px;
    border: 0;
    float: left;
    font-size: 13px;
}

header .search-btn{
	display: inline-block;
    height: 36px;
    line-height: 33px;
    width: 80px;
    text-align: center;
    background: #ff6a00;
    padding: 0px;
    float: left;
    color: #fff;
}
header .help-block ul{
	width: 100%;
	margin-left: -7px;
    margin-top: 3px;
}
header .help-block li{
	font-size: 12px;
	border-left: 1px solid #ccc;
	padding-left: 6px;
    padding-right: 8px;
    color: #ccc;
}
header .help-block li a{
	color: #999;
}
header .service{
	margin-top: 40px;
    margin-left: 58px;
}
header .tel,.custom-service{
	width: 150px;
	height: 30px;
	float: left;
	margin-left: 18px;
}
header .tel i,.custom-service i{
	font-size: 26px;
	color: orange;
}
header .tel span,.custom-service span{
	position: relative;
    top: -4px;
    left: 7px;
}
nav{
	border:1px solid red;
	height: 45px;
	min-width: 1200px;
}
nav .container{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #000;
}
nav .categorys,.nav{
	float: left;
    border: 1px solid orange;
}
nav .categorys{	
	width: 243px; 
}
nav .categorys .head{
	 height: 43px;
	 background-color: #ff6a00;
	 text-align: center;
	 line-height: 43px;
	 font-size: 26px;
	 color: #fff;
	 letter-spacing: 9px;
}
nav .categorys .body{
	position: absolute;
    width: 245px;
    border: 1px solid #ff6a00;
    background: #fff;
}
nav .categorys .list{
    padding: 7px 0 10px 17px;
}
nav .categorys .list:first-child{
	padding-top: 12px;
}
nav .categorys .list-title,.list:last-child li a{
	color: #ff6a00;
	font-weight: bold;
}
nav .categorys .list ul{
	margin-left: -4px;
}
nav .categorys .list li{
    padding: 7px 12px 0 5px;
    font-size: 13px;
}
nav hr{
	width: 93%;
    margin-left: 6px;
    margin-top: 7px;
}
nav .categorys .list:last-child li{
	padding-right: 21px;
    font-size: 16px;
}
nav .nav{
	padding: 11px;
}
nav .nav ul{
	margin-left: -44px;
}
nav .nav li{
	padding-left: 45px;
}
nav .nav li a{
	font-weight: bold;
}
nav .nav li a:hover{
	text-decoration: none;
}
nav li .special{
	color:#ff6a00;
}
.swiper{
	min-width: 1200px;
	border: 1px solid red;
	height: 430px;
	overflow: hidden;
}
.swiper-inner .item{
	width: 100%;
    height: 440px;
    background: url(../img/index/new_banner_qiyue_pc.jpg);
    background-position: center;
}
.swiper .swiper-indicators{
	position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -36px;          
}
.swiper .swiper-indicators ol{
	min-width: 1200px;
}
.swiper .swiper-indicators li{
	display: inline-block;
	float: inherit;
	padding-left: 13px;
	border: 1px solid #666;
    border-radius: 50%;
    margin-left: 15px;
    width: 2px;
    height: 14px;
    cursor: pointer;
    background-color: transparent;
}
.swiper .swiper-indicators li:hover{
	background: #ff6a00;
}
.swiper .btn-outer{
	width: 714px;
    margin: -241px auto;
    overflow: hidden;
    font-size: 36px;
    padding: 0px;
    text-align: center;
}
.swiper .btn{
	width: 40px;
	height: 40px;	
	line-height: 40px;
	cursor: pointer;
	color: #fff;
}
.swiper .btn:hover{
	background-color: rgba(0,0,0,.5);
}
.swiper .btn1{
	float: left;
}
.swiper .btn2{
	float: right;
}
