nav{
	border:1px solid red;
	height: 45px;
	min-width: 1200px;
}
nav .container{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #000;
}
nav .categorys,.nav{
	float: left;
    border: 1px solid orange;
}
nav .categorys{	
	width: 243px; 
}
nav .categorys .head{
	 height: 43px;
	 background-color: #ff6a00;
	 text-align: center;
	 line-height: 43px;
	 font-size: 26px;
	 color: #fff;
	 letter-spacing: 9px;
}
nav .categorys .body{
	position: absolute;
    width: 245px;
    border: 1px solid #ff6a00;
    background: #fff;
}
nav .categorys .list{
    padding: 14px 0 6.5px 17px;
}
nav .categorys .list:first-child{
	padding-top: 12px;
}
nav .categorys .list-title,nav .categorys .list:last-child li a{
	color: #ff6a00;
	font-weight: bold;
}
nav .categorys .list ul{
	margin-left: -4px;
}
nav .categorys .list li{
    padding: 7px 12px 0 5px;
    font-size: 13px;
}
nav hr{
	width: 93%;
    margin-left: 6px;
    margin-top: 7px;
}
nav .categorys .list:last-child li{
	padding-right: 21px;
    font-size: 16px;
}

nav .nav{
	padding: 11px;
}
nav .nav ul{
	margin-left: -44px;
}
nav .nav li{
	padding-left: 45px;
}
nav .nav li a{
	font-weight: bold;
}
nav .nav li a:hover{
	text-decoration: none;
}
nav li .special{
	color:#ff6a00;
}
.swiper{
	min-width: 1200px;
	border: 1px solid red;
	height: 440px;
	overflow: hidden;
}
.swiper-inner .item{
	width: 100%;
    height: 440px;
    background: url('../img/index/new_banner_qiyue_pc.jpg');
    background-position: center;
}
.swiper .swiper-indicators{
	position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -36px;          
}
.swiper .swiper-indicators ol{
	min-width: 1200px;
}
.swiper .swiper-indicators li{
	display: inline-block;
	float: inherit;
	padding-left: 13px;
	border: 1px solid #666;
    border-radius: 50%;
    margin-left: 15px;
    width: 2px;
    height: 14px;
    cursor: pointer;
    background-color: transparent;
}
.swiper .swiper-indicators li:hover{
	background: #ff6a00;
}
.swiper .btn-outer{
	width: 714px;
    margin: -241px auto;
    overflow: hidden;
    font-size: 36px;
    padding: 0px;
    text-align: center;
}
.swiper .btn{
	width: 40px;
	height: 40px;	
	line-height: 40px;
	cursor: pointer;
	color: #fff;
}
.swiper .btn:hover{
	background-color: rgba(0,0,0,.5);
}
.swiper .btn1{
	float: left;
}
.swiper .btn2{
	float: right;
}
.swiper .focus-wrapper{
    width: 1200px;
    text-align: center;
    margin: 7px auto;
}
.swiper .focus{
	margin-left: 82%;
}
.swiper .focus-one:hover,.swiper .focus-two:hover,.swiper .focus-three:hover{
	position: relative;
	left:-6px;
}
.toper-server{
	width: 1200px;
    margin: 28px auto;
}
.toper-server a{
	text-decoration: none;
	cursor: pointer;
	display: block;
}
.toper-server .server-icon{
	font-size: 40px;
    float: left;
    line-height: 68px;
    color:#ff6a00;
}
.toper-server .server-title{
	display: inline-block;
    margin-top: 14px;
    margin-bottom: 6px;
    margin-left: 20px;
    color: #4d4d4d;
}
.toper-server .server-content{
    font-size: 12px;
    white-space: nowrap;
    padding-left: 60px;
    color: #999;
}
.toper-server li:first-child{
	margin-left: 0;
}
.toper-server li{
	margin-left: 30px;
}
.time-limit{
	width: 1200px;
	height: 200px;
	margin: 0 auto 18px;
	overflow: hidden;
}
.time-limit .title,.time-limit-body,.comic-choose{
	float: left;
}
.time-limit .title{
	width: 230px;
    height: 200px;
    background: #aacc03;
}
.time-limit .title-icon{
	display: block;
    text-align: center;
    line-height: 159px;
    font-size: 85px;
    color: #fff;
}
.time-limit p{
	text-align: center;
    font-size: 23px;
    line-height: 0px;
    letter-spacing: 3px;
    color: #fff;
    margin-top: -16px;
}
.time-limit .time-limit-body li{
	border: 1px solid #e5e5e5;
	width: 231px;
}
.time-limit .time-limit-body li:hover{
	border:1px solid #ccc;
}
.time-limit .comic-choose img{
    transition: all 0.6s;
}
.time-limit .comic-choose img:hover{
	transform: scale(1.1);
}
.time-limit .comic-choose{
	overflow: hidden;
}
.floor{
	width: 1200px;
	margin: 23px auto;
	
}
.floor .floor-title{
	padding: 12px;
	overflow: hidden;
}
.floor .floor-title a:first-child{
	color:#737373;
	font-size: 20px;
}
.floor .floor-title span{
	font-size: 14px;
	color: #737373;
	display: inline-block;
    margin-left: 14px;
}
.floor .floor-title a:last-child{
	font-size: 14px;
	float: right;
	color: #737373;
}
.floor .floor-content{
    overflow: hidden;
  
}
.floor .floor-content .content-title,.content-list {
	float: left;
}
.floor .floor-content .content-list{
	width: 957px;
}
.floor .floor-content .content-title{

	background-color: #ffc0bb;
    width: 243px;
    height: 639px;
}
.floor .floor-content .title-text{
	text-align: center;
    line-height: 48px;
    height: 48px;
    position: relative;
    top: 70px;
    border: 2px solid #fff;
    width: 77%;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.floor .floor-content .title-text:hover{
	text-decoration: underline;
}
.floor .floor-content .content-list li{
	height: 320px;
    width: 237px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #E5E5E5;
}
.floor .floor-content .content-list li:hover{
	border: 1px solid #ccc;
}
.floor .floor-content a img{
	display: inline-block;
    margin-top: 9px;
}
.floor .floor-content .item-title{
	margin-top: 20px;
}
.f4 .floor-img {
    position: absolute;
    cursor: pointer;
}
.f4 .floor-title-text{
	text-align: center;
    line-height: 65px;
    height: 63px;
    position: absolute;
    top: 235px;
    border: 2px solid #fff;
    width: 77%;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    left: 23px;
    background: #612d1d;
    opacity: .8;
    cursor: pointer;
    text-decoration: underline;
}
.f4 .item-list{
	position: relative;
	top: 345px;
}
.f4 .item-list .list p{
	margin-left: 11px;
	color:#ff6a00;
}
.f4 .item-list .list ul{
	padding: 5px;
	margin-top: 2px;
}
.f4 .item-list .list li{
	font-size: 12px;
	padding-left: 7px;
	padding-top: 5px;
}
.f4 .item-list .list li a {
	color:#737373
}
.f4 .item-list .list hr{
	width: 91%;
	margin: 15px auto;
}
.f5 .floor-title-text{
	background-color: #ffcd8d;
}
.news{
	width:1200px;
	margin: 0 auto;
	overflow: hidden;
}
.news .news-one,.news .news-two,.news .news-three{
	float: left;
	height: 200px;
}
.news .news-one{
	width: 243px;
    background: #ccc;
}
.news .news-p{
	height: 23px;
    background: #898989;
    color: #fff;
    margin-bottom: 2px;
    line-height: 23px;
}
.news .news-p span{
	display: inline-block;
    margin-left: 10px;
}
.news .news-one .news-add-icon{
	float: right;
    width: 18px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
}
.news .news-one ul{
	padding: 24px;
    font-size: 14px;
}
.news .news-one li{
	margin-bottom: 20px;
}
.news .news-two{
	width: 524px;
    margin-left: 23px;
    background: #fff;
    border: 1px solid #ccc;
}
.news .news-li{
	border-bottom: 1px solid #bbb;
	width: 100%;
	overflow: hidden;
	height: 95px;
	
}
.news .news-li .icon-lingxian {
	color: #ff6a00;
}
.news .news-time{
	float: right;
	display: inline-block;
	margin-right: 14px;
    font-size: 13px;
    line-height: 22px;
}
.news li .li-first-row{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.news .news-li p{
	font-size: 12px;
    margin-left: 12px;
    color: #000;
}
.news .news-three{
	width: 385px;
    margin-left: 23px;
    overflow: hidden;
    background: #ccc;
}
.news .news-three ol{
	float: left;
	width: 150px;
    padding: 21px;
}
.news .news-three li{
	padding-bottom: 20px;
	font-size: 14px;
	white-space: nowrap;
}
.app-wx-wrapper{
	width: 1200px;
	margin: 29px auto;
	border: 1px solid #ccc;
	overflow: hidden;
}
.app-wx-wrapper .wrapper-one,.app-wx-wrapper .wrapper-two,.app-wx-wrapper .wrapper-three{
	width: 334px;
	padding: 25px 0px 20px 20px;
	float: left;
	overflow: hidden;
}
.app-wx-wrapper .intro,.app-wx-wrapper .intro-img{
	float: left;
}
.app-wx-wrapper .intro{
	margin-left: 24px;
}
.app-wx-wrapper .intro h5{
	font-size: 15px;
	margin-bottom: 12px;
}
.app-wx-wrapper .intro p{
	margin-bottom: 6px;
	    font-size: 12px
}
.app-wx-wrapper .intro .icon-pingguo{
	font-size: 61px;
	color: orange;
}
.app-wx-wrapper .intro .icon-iconfontandroid1{
	font-size: 51px;
	color: greenyellow;
}
.app-wx-wrapper .intro a:hover{
	text-decoration: none;
}
.app-wx-wrapper .wrapper-two{
	width: 440px;
	margin-left: -44px;
	margin-top: -11px;
}
.app-wx-wrapper .wrapper-three{
	width: 375px;
	margin-left: 24px;
}
.app-wx-wrapper .wrapper-three .intro{
	width: 61%;
}
.app-wx-wrapper .wrapper-three  .icon-weixin{
    line-height: 54px;
    font-size: 48px;
    color: green;
}
.footer-server{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: orangered;
    padding: 23px 2px ;
}
.footer-server ul li a .iconfont{
	font-size: 34px;
	color: #fff;
}
.footer-server ul li a{
	color: #fff;
}
.footer-server ul li a:hover{
	text-decoration: none;
	color: #fff!important;
}
.footer-server li:first-child{
	padding-left: 8px;
	border: 0;
}
.footer-server li{
	padding-left: 13px;
    border-left: 1px solid #999;
    padding-right: 14px;
}
.footer-nav{
            width: 1200px;
           margin: 23px auto;
            text-align: center;
        }
        .footer-nav a{
            padding-left: 15px;
            padding-right: 33px;
        }
        .footer-help{
            min-width: 1200px;
            border: 1px solid red;
            margin-top: 31px;
            margin-bottom: 20px;
        }
        .footer-help .container{
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }
        .footer-help .container .container-one,.footer-help .container .container-two,   .footer-help .container .container-three{
            float: left;
        }
        .footer-help .container .container-one,.container-two,.container-three,.container-four{
            width: 297px;
            height: 150px;
            border: 1px solid red;
            overflow: hidden;
        }
        .footer-help .container  p{
            font-size: 14px;
            padding-left: 38px;
            margin-top: 14px;
        }
         .footer-help .container .container-four ul{
         	 width: 229px;
         }   
         .footer-help .container ul{
         	margin-left: 22px;
            margin-top: 13px;
            width: 166px;
            float: left;
         }
    
        .footer-help .container li{
            float: inherit;
            font-size: 12px;
            padding-bottom: 4px;
            padding-left: 17px;
        }
        footer{
            min-width: 1200px;
        }
        .auth{
            width: 1200px;
            margin: 0 auto;text-align: center;
        }