
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501286063869'); /* IE9*/
  src: url('iconfont.eot?t=1501286063869#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501286063869') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501286063869') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501286063869#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meiguihua:before { content: "\e62e"; }

.icon-huabei:before { content: "\e605"; }

.icon-icon:before { content: "\e6eb"; }

.icon-icon1:before { content: "\e60b"; }

.icon-yanse:before { content: "\e60c"; }

.icon-unie60d:before { content: "\e63b"; }

.icon-jiage:before { content: "\e6a7"; }

.icon-weibiaoti--:before { content: "\e651"; }

.icon-artificial:before { content: "\e740"; }

.icon-shoucang:before { content: "\e601"; }

